#js-text-long {
    border: 2px solid black;
    overflow: hidden;
}

#js-button-show {
    border: 2px solid black;
}

/*ex 10*/
.text{
    width: 50%;
    height: auto;
}
.moreText{
    display: none;
}

.btn-success{
    outline: none;
    cursor: pointer;
}
.text.showMore .moreText{
    display: inline;
}
.text.showMore .dots{
    display: none;
}
